h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

.logo {
  height: 75px;
}

.top-bar {
  padding-bottom: 75px;
}

.main-nav {
  margin-top: 15px;
}

.main-nav li {
  margin: 0 20px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

.orbit-container {
  margin-top: 37px;
}

.orbit-timer {
  display: none;
}

.bullets,
.about {
  margin: 100px auto;
}

.highlights-circle {
  border-radius: 50%;
  background-color: gray;
  height: 200px;
  width: 200px;
  margin: 10px auto;
}

.highlights h4,
.highlights p {
  text-align: center;
}

.headshot {
  border-radius: 50%;
}

.contact {
  margin: 100px auto 25px;
}

#about:before,
#contact:before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}


/*===================================================
Contact Section
===================================================*/

.hours {
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
  width: 100%;
}

thead th {
  font-weight: bold;
  background-color: gray;
  color: #fff;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}


.main-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.main-footer p {
  text-align: center;
}

















