h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

h4 {
  margin-top: 0;
}

a {
  color: #232C67;
}

.logo {
  height: 75px;
  width: 250px;
}

.top-bar {
/*  padding-bottom: 75px;*/
  height: 4.688rem;
}

.main-nav {
  margin-top: 15px;
}

.main-nav li {
  margin: 0 20px;
}

.main-nav ul li:last-child {
  margin-right: 0;
}

/*
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #fff;
  color: #232C67;
  font-size: 1.5rem;
  font-weight: bold;
}
*/

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button):hover{
  background: none;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-size: 1rem;
  font-weight: bold;
}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li.active:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover {
  border-radius: 5px;
  border: 2px solid #fff;
}

/*
.orbit-container {
  margin-top: 37px;
}
*/

.orbit-timer {
  display: none;
}

.bullets {
  margin: 100px auto;
}

.about {
  margin: 100px auto 50px;
}

.highlights-circle {
  border-radius: 50%;
  background-color: #232C67;
  height: 200px;
  width: 200px;
  margin: 10px auto;
  color: #fff;
}

.headshot {
  border-radius: 50%;
}

.button {
  background-color: #232C67;
  font-weight: bold;
}

.button:hover {
  background-color: #fff;
  border: solid 2px #232C67;
  color: #232C67;
  font-weight: bold;
}

.contact {
  margin: 100px auto 25px;
}

#about:before,
#contact:before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

/*===================================================
Icons
===================================================*/

.icon {
  font-size: 4rem;
  line-height: 200px;
  vertical-align: middle;
}


/*===================================================
Contact Section
===================================================*/

.hours {
  border-bottom: 2px solid #232C67;
  margin-bottom: 20px;
  width: 100%;
}

.hours thead th {
  color: #fff;
}

thead th {
  font-weight: bold;
  background-color: #232C67;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.main-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.main-footer p {
  text-align: center;
}

/*===================================================
Media Queries
===================================================*/

@media only screen and (max-width: 40em) {  
  .main-nav ul li:last-child {
    margin-right: 20px;
  }
  .bullets,
  .about,
  .contact {
    margin: 50px auto 0;
  }
  .headline {
    margin-bottom: 20px;
  }
  .headshot {
    display: block;
    margin: 0 auto 10px;
  }
  .contact > div {
    margin-bottom: 20px;
  }
  /*Mobile Menu*/
  .top-bar-section ul {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .button {
    width: 100%;
  }
}

@media only screen and (min-width: 40.063em) {
  .map {
    margin-bottom: 20px;
  }
}
















