.logo {
  height: 100px;
}

.top-bar {
  padding-bottom: 100px;
}

.top-bar-section {
  margin-top: 25px;
}
.highlights-circle {
  border-radius: 50%;
  background-color: gray;
  height: 200px;
  width: 200px;
  margin: 10px auto;
}
.highlights h4,
.highlights p {
  text-align: center;
}

/*===================================================
Contact Section
===================================================*/

.hours {
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
  width: 100%;
}

thead th {
  font-weight: bold;
  background-color: gray;
  color: #fff;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}