/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}


/*===================================================
General
===================================================*/



/*===================================================
Grid
===================================================*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*===================================================
Typography
===================================================*/

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.625em;
  line-height: 1.1538em;
  text-align: center;
}

h3 {
  font-size: 1.375em;
  line-height: 1.1363em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.111em;
}

p {
  line-height: 1.25em;
  margin: 1em 0;
}

/*===================================================
Header
===================================================*/

.primary-header {
  text-align: center;
}

.primary-header h1 {
  margin: 10px 0;
}

.primary-header a {
  color: black;
}


/*===================================================
Nav
===================================================*/

.nav {
  text-align: center;
  margin: 10px 0;
  background-color: lightgray;
}

.nav li {
  display: inline-block;
  margin: 0 2%;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a {
  display: inline-block;
  height: 100%;
  padding: 10px;
  color: black;
}

.nav a:hover, a.selected {
  background-color: gray;
  color: #fff;
}

/*===================================================
Footer
===================================================*/

footer p {
  text-align: center;
  font-size: 0.875em;
  margin: 5px 0;
  line-height: 1.5em;
}

footer a {
  color: black;
}

.footer-nav {
  margin-bottom: 0;
}

.copyright {
  padding: 2% 0;
  margin-bottom: 10px;
  background-color: gray;
  color: #fff;
}

/*===================================================
Links
===================================================*/

a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}

/*===================================================
Grid
===================================================*/

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
}

/*===================================================
Home Page
===================================================*/

.home img {
  width: 100%;  
}

/*===================================================
About Page
===================================================*/

.about img {
  border-radius: 5%;
  width: 200px;
  display: block;
  margin: 5px auto;
}

.about h3 {
  text-align: center;
}

/*===================================================
Forms Page
===================================================*/

.forms h3 {
  text-align: left;
}

/*===================================================
Contact Page
===================================================*/

table {
  border-bottom: 2px solid gray;
}

thead th {
  font-weight: bold;
  background-color: gray;
  color: #fff;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/*===================================================
Mobile Nav
===================================================*/

nav a#pull {
  display: none;
}




















