@media screen and (max-width: 480px) {
  nav ul {
    display: none;
    height: auto;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    display: block;
  }
  nav li a {
    border-bottom: 1px solid black;
    width: 100%;
  }
  nav a#pull {
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    text-indent: 25px;
  }
  nav a#pull:after {
    content: '';
    background: url('../img/nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 5px;  
  }
}


@media screen and (min-width: 481px) {
  .header-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
  }
  .logo {
    float: left;
  }
  .address {
    float: right;
    margin: 20px 0 0 0;
  }  
  /* About Page */
  .profile {
    margin-top: 10px;
  }
  .profile img {
    float: left;
    margin-right: 10px;
  }
  .profile h3 {
    display: inline-block;
    margin: 10px;
  }
  .profile p {
    display: block;
    margin: 0 0 10px 10px;
  }
  /* Telephone Header styles */
  .tel {
  background-color: #232C67;
  border-radius: 10px;
}
  .tel a {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border-radius: 10%;
  }
  /* Columns */
  .col-1-3 {
    width: 33.33%;
  }
  .col-2-3 {
    width: 66.66%;
  }
  .col-1-3,
  .col-2-3 {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
  }
}

















